body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
nav {
    margin: 20px;
    text-align: center;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
main {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}
img {
    width: 20%;
    height: auto;
    margin: 10px 0;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
p {
    text-align: left;
    max-width: 800px;
    margin: 0 auto 20px;
    line-height: 1.6;
}
h3 {
    margin-top: 40px;
    color: #333;
}
table {
    margin: 20px auto;
    text-align: left;
    border-collapse: collapse;
    width: 80%;
}
th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}
.warning{
    color: red 
}